/* T O   D O   A D D */
.form-container {
  background-color: #86a8e7;
  height: 150px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.form-container .nama {
  font-size: larger;
  margin-top: 20px;
}
.form-container input {
  line-height: 30px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
}
.form-container .button-add {
  line-height: 20px;
  width: 200px;
  margin-top: 10px;
  background-color: #e1f1ff;
}
/* P A G E S */
.form-head {
  background-color: #86a8e7;
  margin: 0;
  text-align: center;
}

/* C A R D */
.card-container {
  border: 1px;
  background-color: #e1f1ff;
  text-align: center;
}
.card-container .card-delete {
  line-height: 20px;
  margin-top: 10px;
  margin-right: 10px;
}
.card-container .card-update {
  line-height: 20px;
  margin-top: 10px;
  margin-right: 10px;
}
